<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Turbo IMS"
        android:icon="@mipmap/ic_launcher"
        android:theme="@android:style/Theme.DeviceDefault.DayNight">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Turbo IMS" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.NETWORK_SETTINGS" />
    </application>

    <instrumentation
        android:name="io.github.vvb2060.ims.PrivilegedProcess"
        android:targetPackage="${applicationId}"
        android:label="IMS Configurator" />

</manifest>
