name: Android CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Decode Keystore
      env:
        KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
      run: |
        echo "$KEYSTORE_BASE64" | base64 --decode > app/keystore.jks
    - name: Build with Gradle
      run: |
        ./gradlew assembleRelease \
        -Pandroid.injected.signing.store.file=${{ github.workspace }}/app/keystore.jks \
        -Pandroid.injected.signing.store.password=${{ secrets.KEYSTORE_PASSWORD }} \
        -Pandroid.injected.signing.key.alias=${{ secrets.KEY_ALIAS }} \
        -Pandroid.injected.signing.key.password=${{ secrets.KEY_PASSWORD }}
    - name: Install jq
      run: sudo apt-get install jq
    - name: Parse build files
      id: apk
      run: |
        versionName=$(cat "app/build/outputs/apk/release/output-metadata.json" | jq -r '.elements[0].versionName')
        versionCode=$(cat "app/build/outputs/apk/release/output-metadata.json" | jq -r '.elements[0].versionCode')
        mkdir outputs
        mv "app/build/outputs/apk/release/app-release.apk" "outputs/Ims.apk"
        echo "versionName=$versionName" >> $GITHUB_OUTPUT
        echo "versionCode=$versionCode" >> $GITHUB_OUTPUT
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ steps.apk.outputs.versionName }}-${{ steps.apk.outputs.versionCode }}
        files: |
          outputs/Ims.apk
