name: Android CI
on:
  workflow_dispatch:
  push:
    branches:
      - release
jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Decode Keystore
      env:
        KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
      run: |
        echo "$KEYSTORE_BASE64" | base64 --decode > /tmp/key.jks
    - name: Build with Gradle
      env:
        SIGN_KEY_STORE_FILE: "/tmp/key.jks"
        SIGN_KEY_STORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
        SIGN_KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
        SIGN_KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
      run: |
        ./gradlew assembleRelease
    - name: Install jq
      run: sudo apt-get install jq
    - name: Parse build files
      id: apk
      run: |
        versionName=$(cat "app/build/outputs/apk/release/output-metadata.json" | jq -r '.elements[0].versionName')
        versionCode=$(cat "app/build/outputs/apk/release/output-metadata.json" | jq -r '.elements[0].versionCode')
        mkdir outputs
        mv "app/build/outputs/apk/release/app-release.apk" "outputs/CarrierIMSForPixel.apk"
        echo "versionName=$versionName" >> $GITHUB_OUTPUT
        echo "versionCode=$versionCode" >> $GITHUB_OUTPUT
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ steps.apk.outputs.versionName }}
        body_path: CHANGELOG.md
        files: |
          outputs/CarrierIMSForPixel.apk
